{% extends '../main.html' %}

{% block content %}
<title>Département de tronc commun</title>
<style>

    section{
        margin:5%;
    }

    h3{
        font-weight: bold;
        margin-bottom : 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    }

    tr td, tr th{
        font-weight: 500;
        text-align: center;
    }

    tr td{
        font-size: 16px;
    }

</style>


<body  class="homepage-v1 hidden-sn dark-skin animated">
<section>
    <h3>Documents du Tronc Commun</h3>
  <div class="row" id="pos">
    <div class="col-lg-10 col-md-20 pb-lg-5 mb-4">
      <table class="table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th>Titre</th>
            <th>Publié par</th>
            <th>Niveau</th>
            <th>Date de publication</th>
            <th>Voir commentaires</th>
            <th>fichier</th>
          </tr>
        </thead>
        
        {% for doc in docs %}
          <tr class="table-primary">
            <td>{{doc.titre}}</td>
            <td>{{doc.author}}</td>
            <td>{{doc.classe_doc}}</td>
            <td>{{doc.date}}</td>
            <td><a  href="{% url 'comments'  pk=doc.pk %}"  > <i class="fas fa-eye"></i> <i class="far fa-comments"></i></a></td>
            <td><a  href="{{ doc.fichier.url }}" target="_blank" ><span class="btn btn-danger  btn-sm ">Télécharger</span></a></td>
    
          </tr>
          
        {% endfor %}
      </table>
    </div>
    
  </div>
</section>
</body>






{% endblock %}